.main {
height: 1500px;
width: 100%;
background-color: black;
}

#timeContainer{
    position: absolute;
    width: 99%;
    height: 200px;
    z-index: 15;
    top: 20%;
    text-align: center;
}

#dateContainer{
    position: absolute;
    width: 99%;
    height: 300px;
    z-index: 15;
    top: 50%;
    text-align: center;
}

#time, #demo{
    font-size:140pt;
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace; 
    color: #89cff0;
}

body{
    background-color: 	#282828;
}